<template name="game">
    <h1>Game: {{$.Session.get 'gameId'}}</h1>
    {{#with currentGame}}
    <h2>Round: {{round}}</h2>
    {{/with}}
    {{#if isAdmin}}
    {{> admin}}
    {{else}}
    {{> player}}
    {{/if}}
</template>

<template name="admin">
    <h2>This is the Admin</h2>
    <button id="deal-cards">
        Deal cards
    </button>
    <button id="call">
        Call
    </button>
    <div id="table">
        <ul id="flop" class="card-group"></ul>
        <ul id="turn" class="card-group"></ul>
        <ul id="river" class="card-group"></ul>
    </div>
</template>

<template name="player">
    <ul id="base" class="card-group" style="display: none;"></ul>
    <ul id="back" class="card-group">
        <li class="card-li">
            <div class="card card-hidden"></div>
        </li>
        <li class="card-li">
            <div class="card card-hidden"></div>
        </li>
    </ul>
</template>
